@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #191919;
  --white: #FFFFFF;
  --sidebar-primary: #353E47;
  --sidebar-primary-hover: #353E47;
  --sidebar-background: #a20202;
  --background: #F1F3FF;
  --text-link: #FFFFFF;
  --headline: #CBD1D8;
  --expand-button: #353E47;
  --logout: #FA7575;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100%;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 860px;
  height: 100%;
  padding: 16px 0px;
  max-width: 20rem;
  display: flex;
  color: var(--white);
  flex-direction: column;
  background-color: var(--sidebar-background);
  transition: max-width 0.1s ease-in-out;
}

body.collapsed .sidebar {
  max-width: 80px;
  display: flex;
  align-items: center;
}

body.collapsed .hide {
  position: absolute;
  display: none;
}

/*? search wrapper */
.search__wrapper {
  padding: 0 16px;
  position: relative;
}

.search__wrapper input {
  background-color: var(--background);
  height: 40px;
  width: 100%;
  border-radius: 8px;
  padding: 0 8px;
  padding-left: 32px;
  flex-grow: 1;
  outline: none;
  border: none;
}

.search__wrapper svg {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 26px;
  transform: translateY(-50%);
  pointer-events: none;
  right: 24px;
}

body.collapsed .search__wrapper svg {
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  stroke: var(--sidebar-primary-hover);
}

.search__wrapper input::-webkit-input-placeholder {
  color: var(--sidebar-primary-hover);
  white-space: nowrap;
}

body.collapsed .search__wrapper input {
  max-width: 40px;
}

body.collapsed .search__wrapper input::-webkit-input-placeholder {
  color: transparent;
}

/*? sidebar top */

.sidebar-top-wrapper {
  display: flex;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 64px;
  padding-bottom: 16px;
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__wrapper {
  margin-top: -4px;
  display: flex;
  align-items: center;
  color: var(--text-link);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.35rem;
  gap: 8px;
  padding: 0 16px;
}

.logo-small {
  height: 48px;
  width: 48px;
  overflow: hidden;
  object-fit: cover;
}

/*? menu links */
.sidebar-links {
  margin-top: 16px;
  width: 100%;
}

.sidebar-links h2 {
  margin-left: 16px;
  color: var(--headline);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
  animation: fadeIn 0.2s ease-in-out;
}

body.collapsed h2 {
  display: none;
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
  display: flex;
  column-gap: 8px;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.sidebar-links li {
  color: var(--text-link);
}

body.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li svg {
  stroke: var(--text-link);
  width: 28px;
  height: 28px;
  min-width: 28px;
}

.sidebar-links li a:hover {
  background-color: var(--sidebar-primary-hover);
}

.sidebar-links li a {
  color: var(--text-link);
  flex-grow: 1;
  padding: 0 16px;
  font-size: 1.25rem;
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  height: 56px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a .link {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 34px;
  width: 34px;
}

.sidebar-links .active:hover {
  background-color: var(--sidebar-primary-hover);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(--sidebar-primary-hover);
  color: var(--text-link);
}

.sidebar-links .active svg {
  stroke: var(--text-link);
}


/* ?tooltip */
.tooltip {
  position: relative;
}

.tooltip .tooltip__content::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -10px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  left: 90px;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}

/*? profile part */
.sidebar__profile {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: row;
  padding: 0 16px;
  color: var(--text-link);
  overflow-x: hidden;
  min-height: 42px;
}

.avatar__wrapper {
  position: relative;
  display: flex;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.avatar__name {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.user-name {
  font-weight: 600;
  text-align: left;
  color: var(--text-link);
  animation: fadeIn 0.2s ease-in-out;
}

.email {
  color: var(--text-link);
  font-size: 13px;
  animation: fadeIn 0.2s ease-in-out;
}

.logout {
  animation: fadeIn 0.2s ease-in-out;
  margin-left: auto;
}

.logout svg {
  color: var(--logout);
}

body.collapsed .logout {
  display: none;
}

/*? Expand button */

.expand-btn {
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--expand-button);
  z-index: 2;
  right: -18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.expand-btn svg {
  transform: rotate(-180deg);
  stroke: var(--white);
  width: 20px;
  height: 20px;
}

body.collapsed .expand-btn svg {
  transform: rotate(-360deg);
}

.bottom-links {
  margin-top: auto;
}

@keyframes fadeIn {
  from {
    width: 0px;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

/*Iniciando a tela Aba*/

main {
  position: fixed; /*Para manter fixado na tela*/
  top: 0; /*Posicionar o elemento main no topo da tela*/
  right: 0; /*posicionar o elemento main no canto direito da tela*/
  padding: 46.8rem; /* Adiciona preenchimento para criar espaço ao redor do conteúdo */
  text-align: center; /*Centraliza o texto dentro do elemento main*/
  display: flex; /*Para deixar o layout flexivel*/
  flex-direction: column; /*Organizar os itens em coluna*/
  height: 100%; /* Ocupa 100% da altura da tela */
  width: 100%; /* Ocupa 100% da largura da tela */
}

/*Botao pesquisar*/
.buscar-box{
  
  margin-left: 850px;
  margin-top: -70px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: .5s;
}

.buscar-box.ativar{
  width: 250px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buscar-box .btn-fechar i{
  font-size: 14px;
  margin-left: 15px;
}

.buscar-box .input-buscar{
  position: absolute;
  left: 80px;
  width: calc(100% - 120px);
  height: 100%;
  line-height: 80px;
}

.buscar-box .input-buscar input{  
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  width: 135px;
  
}
/*A figura ao lado direito do botao pesquisar*/
.figurahome {
  display: flex;
  margin-top: -780px;
}

.figurahome h5 {
  position: relative;
  left: 10px;
  top: 15px
}

.figurahome .iconsino {
  position: relative;
  left: 25px;
  top: 15px;
}




/*Quadrado feito para servir como sombra*/
.quadrado {  
  width: 70rem; /* Largura do quadrado */
  height: 30rem; /* Altura do quadrado */
  background-color: #E9EAEC; /* Cor de fundo do quadrado */    
  margin-top: -660px; /*Posicionar o quadrado para cima*/
  margin-left: -415px; /*Posicionar o quadrado para esquerda*/
  position: absolute; /*Posicionar o quadrado em relação ao elemento pai mais próximo */
  z-index: -1; /*Isso foi para garantir que o quadrado ficasse por tras dos elementos*/
}

.quadrado2 {  
  width: 70rem; /* Largura do quadrado */
  height: 15rem; /* Altura do quadrado */
  background-color: #E9EAEC; /* Cor de fundo do quadrado */    
  margin-top: -160px; /*Posicionar o quadrado para cima*/
  margin-left: -415px; /*Posicionar o quadrado para esquerda*/
  position: absolute; /*Posicionar o quadrado em relação ao elemento pai mais próximo */
  z-index: -1; /*Isso foi para garantir que o quadrado ficasse por tras dos elementos*/
}

h2 {
  color: #232e5b; /*Cor das letras*/
  font-size: 18px; /*Tamanho das letras*/
  position: relative; /*Foi criado para poder ajustar a sua posição no layout*/
  top: -650px; /* Ajusta a posição do h2 para cima */
  left: -515px; /* Ajusta a posição do h2 para a esquerda */
}

/*Iniciando os ajuste do Input e Label*/

form {  
  font-size: 14px;
  font-weight: bold;
  margin-top: -650px;
  margin-left: -415px;
  padding: 10px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column; /* Alteração para colocar as divs uma abaixo da outra */
  width: 69.7rem;
}

.question {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px;
}

.inputext input[type="text"] {
  background-color: #EFEEEF;
  width: 30rem;  
  border: none;
  height: 20px;
}

.radio-group {
  display: flex;
  gap: 10px;  
}

.input-group {
  display: flex;
  gap: 10px;  
}

.radio1 {
  display: flex;
  gap: 10px;
  margin-left: 20px;  
}

.radio2 {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}

.radio3 {
  display: flex;
  gap: 10px;
  margin-left: -2px;  
}

.radio4 {
  display: flex;
  gap: 10px;
  margin-left:10px;  
}

#motivo {
  margin-top: 20px; /*Posicionando para baixo o input informacao*/
  display:block; /*Foi usado para que o label ficasse em cima do input, dessa forma ele perdeu a propriedade que estava no form*/
  width: 550px; /*Largura do input informacao*/
  height: 60px; /*Altura do input informacao*/
  margin-left: -3px; /*Posicionando a esquerda o input informacao*/
  background-color: #efeeef;
  border: none;
}

.label1 {
  margin-left: -1px; /*Posicionando a esquerda o label do input informacao*/
  margin-top: 10px; /*Posicionando para baixo o label do input informacao*/
}

.label2 {
  margin-left: -1px;
  margin-top: 35px;
}

#informacao {
  height: 80px;
  width: 670px;
  height: 60px;
  margin-left: -3px;
  margin-top: 20px;
  background-color: #EFEEEF;
  border: none;
}



.container {
  display: flex;
  gap: 80px;
  margin-top: 80px; /* Ajusta a posição para cima */
  margin-left: 40px; /* Ajusta a posição para a esquerda */

}

.container h5 {
  color: #232e5b; /*Cor das letras*/
  font-size: 14px;
  position: relative;
  margin-left: -20px;
}


.container p {
  font-size: 10px;
  white-space: nowrap; /*Para evitar quebra de linha*/
  position: relative;
  margin-left: -25px;
}

.botao {   
  display: flex;
  margin-top: 30px;
  margin-left: 850px;
  gap: 30px;
  width: 15rem;
  height: 2rem;
  }

.botao button {
  background-color: #C90A3A;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  width: 20rem;
  cursor: pointer;
}

.botao .remove-button {
  background-color: #FFFFFF; /* Altere para a cor desejada */
  color: #C90A3A;
  border: 4px solid #C90A3A;

}

h3 {
  color: #232e5b; /*Cor das letras*/
  font-size: 18px; /*Tamanho das letras*/
  position: relative; /*Foi criado para poder ajustar a sua posição no layout*/
  left: -1px; /* Ajusta a posição do h2 para a esquerda */
  top: 50px;
  

}

